
<h1>Estadísticas del LET</h1>
<p>El desempeño económico y financiero de las empresas transnacionales carece fue fuentes oficiales para su estudio. Corporaciones y gobiernos tienen acuerdos de confidencialidad para evitar que éstos hagan pública la información que entregan a las autoridades reguladoras. Por ello, el estudio de las empresas transnacionales exige la creación de bases de datos e indicadores. En este espacio publicaremos los resultados de nuestra investigación sobre la evolución de estos poderosos actores de la economía mundial. Esta iniciativa cuenta con el respaldo del Instituto de Investigaciones Económicas y de la Dirección de Asuntos del Personal Académico de la UNAM (Proyecto PAPIIT IN-302215).</p>
<p>Cualquier pregunta puede dirigirse al correo <a href="mailto:let@iiec.unam.mx">let@iiec.unam.mx</a></p>



<br>


<br>




