
<h1>Bienvenid@s a estadísticas LET!</h1>
<p>Este es el sitio en internet de estádisticas del Laboratorio de estudios sobre empresas transnacionales (LET), espacio académico de análisis y difusión. El contenido  de este espacio esta desarrollado a partir de cifras recopiladas de 1990 a 2014 de las 500 empresas trasnacionales mas grandes año con año. Nos proponemos compartir esta información para su estudio de cualquier interesado. Esta iniciativa cuenta con el respaldo del Instituto de Investigaciones Económicas y de la Dirección de Asuntos del Personal Académico de la UNAM (Proyecto PAPIIT IN-302215).</p>
<p>Cualquier pregunta puede dirigirse al correo <a href="mailto:let@iiec.unam.mx">let@iiec.unam.mx</a></p>



<br>


<br>




