
<h1>Metodología</h1>


<p>Septiembre de 2016</p>
<p>
La información que presentamos proviene de la base de datos Las empresas más grandes del mundo. Nuestro punto de partida son los datos publicados anualmente por la revista estadounidense Fortune, de los cuales hemos retenido: nombre de la empresa, país sede, ingresos, ganancias, activos, empleo e industria.
</p>
<p>
En esta primera entrega publicamos dos series de cuadros. En la primera, agrupamos las empresas según las actividades productivas en que actúan y presentamos 5 tablas: número de empresas, ingresos, ganancias, activos y empleo. La segunda serie de tablas presenta los mismos indicadores agrupados por los países sede de las empresas.
</p>
<p>
Las cifras de cada empresa son consolidadas, es decir, reflejan el conjunto de la actividad de las empresas en todas sus locaciones, y no sólo lo que genera en su país sede.
</p>
<p>
La revista Fortune clasifica las empresas de acuerdo con la actividad en la que obtiene la mayor parte de sus ingresos, por lo que las corporaciones diversificadas figuran en una sola actividad cada año, y pueden variar su clasificación conforme cambia su desempeño económico.
</p>
<p>
Los indicadores monetarios están en millones de dólares corrientes y el empleo en número de personas.
</p>
<p>Cualquier pregunta puede dirigirse al correo <a href="mailto:let@iiec.unam.mx">let@iiec.unam.mx</a></p>
<br>


<br>




